<mat-sidenav-container class="admin-container">
  <mat-sidenav mode="side" opened class="admin-sidenav">
    <mat-nav-list>
      <mat-list-item routerLink="/admin/dashboard">Dashboard</mat-list-item>
      <mat-list-item routerLink="/admin/users">Users</mat-list-item>
      <mat-list-item routerLink="/admin/settings">Settings</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Admin Panel</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <div class="admin-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
