<mat-card class="cart__product-item">
  <mat-card-content class="cart__product-item-content">
    <mat-checkbox
      color="primary"
      class="cart__product-item-checked"
    ></mat-checkbox>
    <img
      class="cart__product-item-img"
      mat-card-image
      [src]="cartItem.book.image"
      alt="Photo of a Shiba Inu"
    />
    <div class="cart__product-item-info">
      <p class="mat-body-1">
        {{ cartItem.book.title }}
      </p>
      <p class="cart__product-item-info-price">{{ cartItem.book.price }}$</p>
    </div>

    <div class="cart__product-item-quantity">
      <app-quantity
        [(quantity)]="cartItem.quantity"
        (quantityChange)="handleQuantityChange($event)"
      ></app-quantity>
    </div>
    <div class="cart__product-item-price">
      <span>{{ cartItem.quantity * cartItem.book.price }} $</span>
    </div>
    <div class="cart__product-item-action">
      <button
        mat-icon-button
        class="cart__product-item-delete"
        (click)="handleDeleteCartItem()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
