<div class="cart">
  <div class="cart__container">
    <div class="cart__title">
      <h1>Giỏ Hàng</h1>
    </div>
    <div class="cart__content">
      <div class="cart__header">
        <mat-card>
          <mat-card-content>
            <span class="cart__header-text"> Product list </span>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="cart__products">
        <div
          *ngFor="let cartItem of cartItems; index as i"
          class="cart__product"
        >
          <app-cart-item
            [cartItem]="cartItem"
            (deleteCartItemEvent)="fetchCartByUser()"
          ></app-cart-item>
        </div>
      </div>
    </div>
    <div class="cart__total-amount">
      <mat-card>
        <mat-card-title class="cart__total-amount__title">
          <p>Thành tiền</p>
        </mat-card-title>
        <mat-card-content class="cart__total-amount__body">
          <div class="cart__total-amount-price">
            <span>{{ totalAmount() | currency }}</span>
          </div>
          <div>
            <button
              mat-raised-button
              class="cart__total-amount__btn-pay"
              (click)="handleCheckout()"
            >
              Payment
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
